<phpunit stopOnFailure="false" colors="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>